body {
  font-family: "Times New Roman", serif;
  background-image: url("images/Search.jpeg");
  background-size: cover;
  background-position: center;
  color: #8a7e6d;
  padding: 30px;
}

h1 {
  color: #1e1e1e;
  text-align: center;
  margin-bottom: 30px;
  font-size: 36px;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

th, td {
  padding: 10px;
  text-align: center;
  border: 1px solid #1e1e1e;
}

th {
  background-color: #1e1e1e;
  color: #f6f0e8;
}

td:first-child {
  font-weight: bold;
}

p {
  text-align: center;
  margin-top: 20px;
  font-size: 1.2rem;
  color: #1e1e1e;
}

input[type="text"] {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #1e1e1e;
  border-radius: 5px;
  margin-bottom: 10px;
}

input[type="submit"] {
  padding: 5px 10px;
  border: 1px solid #1e1e1e;
  background-color: #1e1e1e;
  color: #f6f0e8;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

input[type="submit"]:hover {
  background-color: #f6f0e8;
  color: #1e1e1e;
}
