body {
    font-family: "Times New Roman", serif;
    background-image: url("images/thankyou.jpg");
    background-size: 100%;
    background-position: top 10%;
    color: #f0e9dc;
    height: 100vh;
  }

  h1 {
    margin-left: 100px;
    align-items: left;
    margin-top: 310px;
    color: #f0e9dc;
  }
  
  button {
    margin-left: 100px;
    margin-top: 30px;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    background-color: #7c7972;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #5a5a5a;
  }